html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/** PAGE LAYOUT **/
#layout {
  display: flex;
}

/** BANNER **/
#banner-layout {
  background-image: url('https://res.cloudinary.com/hellodewa/image/upload/v1624359775/paystaq-shopping-credit-preappform-frontend-demo/images/banner-bg_esiui4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 100vh;
  width: 24.9vw;
}

/** ORDER SUMMARY **/
#order-summary-layout {
  display: inline-block;
  height: 100vh;
  width: 24.9vw;
}

/** PREAPPLICATION FORM **/
#pre-application-form-layout {
  display: inline-block;
  height: 100vh;
  width: 49vw;
}