html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.row {
  margin-left: 2px !important;
}

.col, .col-1, .col-10, .col-11, .col-12, 
.col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-auto, 
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, 
.col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-auto, .col-md, .col-md-1, 
.col-md-10, .col-md-11, .col-md-12, .col-md-2, 
.col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, 
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, 
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, 
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, 
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, 
.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
}

/** TEXT **/

.small-text {
  font-size: x-small;
}

.xxx-large-text {
  font-size: xxx-large;
  font-weight: thick;
  line-height: 1em !important;
}

/** PAGE LAYOUT **/
#layout {
  display: flex;
}

.card-container {
  padding: 0 5px !important;
  height: 5.5em !important;
}

.container--narrow {
  max-width: 732px;
}

/** FORMS **/

.form-input {
  border: none;
  height: 45px;
  width: 100%; 
}

.form-input-currency {
  width: 90% !important; 
}

.form-layout {
  color: rgba(126,2,74,1);
  font-size: large;
  padding: 1.3em 16% 3em 16%;

}

.first-section {
  padding: 10px 0 0 0;
}

.form-section {
  margin: 0.5em 0 0 0;

}

.form-section-title {
  text-align: center;
}

.section-input-card {
  border-radius: 19px !important;
  height: 8em;
}

/** BUTTONS **/

button.form-button {
  border-radius: 20px !important;
  font-weight: bold !important;
  height: 45px !important;
  margin-left: 32% !important;
  margin-right: 32% !important;
  width: 35% !important;
}

/** BORDERS **/
.blur-borders {
  border-radius: 4px !important;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(131, 130, 130, 0.7) !important;
  padding: 5px 5px 5px 5px !important;
  width: 100%;
}

.blur-card-borders {
  border-radius: 17px !important;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(131, 130, 130, 0.7) !important;
  padding: 5px 5px 5px 5px !important;
  width: 100%;
}

.border-left {
  border-left: 1px solid rgba(131, 130, 130);
  border-width: 50%;
}

.border-right {
  border-right: 1px solid rgba(131, 130, 130);
}

/* Dots Loading Animation */
.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}


#btnControl {
    display: none;
}

#btnControl:checked + label > div {
    width: 70px;
    height: 74px;
}
