
.blurBorders {
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px 2px rgb(163, 163, 163,.5) !important;
  padding: 5px 5px 5px 5px;
  width: 100%;
}

.cardBoxShadow {
  -webkit-box-shadow: 5px 5px 5px #888 !important;
  width: 100%;
}

.orderCard {
  border-radius: 19px !important;
  padding: 2px 6px;
  max-height: 250px;
  margin-top: .8em;
}

#orderSummaryLayout {
  background-color: rgb(233, 233, 233);
  display: inline-block;
  height: 100vh;
  padding: 2em 3em 0 3em;
  width: 24.9vw;
}

#orderSummaryTitle {
  font-size: 1.1em;
  margin-top: 10%;
}


/** CART CARD**/

.cartItem {
  height: 6em;
  padding: 0.6em 0;
}

.cartItemImage{
  border-radius: 5px !important;
  padding-right: 3px;
}

.cartItemInfo {
  padding-left: 15px;
}

/** TOTAL CARD **/

.totalCard {
  height: 60px !important;
}

#totalText {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0 !important;
}

#totalPrice {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  padding: 0 20px 0 0 !important;
  margin: 0;
}